@import './variables';

.addCommentForm {
    width: 100%;
    overflow: hidden;
    padding: 30px 24px;

    * {
        font-family: var(--globalFont) !important;
    }

    textarea {
        margin-top: 30px;
        max-width: 100%;
        min-width: 100%;
        min-height: 50px;
        background-color: #f7f8fd;

        font-size: 14px;
        font-weight: 400;
        border-radius: 6px;
        border: 2px solid #f7f8fd;
        outline: none;
        padding: 10px;
        transition: border 0.2s ease-in-out;


        &:focus {
            border: 2px solid #7589ec;

        }



    }

    .commentError {
        color: red;
        font-size: 14px;
        font-weight: 400;
    }

    .formFooter {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: baseline;

        .charactersLeft {
            font-weight: 400;
            font-size: 16px;
            height: 20px;
            color: rgb(100, 113, 150);
            flex-basis: 55%;
        }

        .postCommentBtn {
            flex-basis: 45%;
            max-width: 150px;
            background-color: #ad1fea;
            padding: 7px;
            border: none;
            border-radius: 10px;
            color: #ffffff;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            outline: none;
            transition: background-color 0.2s ease-in-out;
        }
    }
}

@media screen and (max-width: $mobileScreenWidth) {
    .addCommentForm {
        width: 94%;
        margin: 20px 0;
        margin-left: 3%;

        .postCommentBtn {
            font-size: 14px !important;
        }

    }
}