@import './variables';

@include drawerStyles;

.productSwitchTabContainer {
	position: relative;

	hr {
		margin-top: 7px;
		border: none;
		border-top: 5px solid #d1d3e1;
		opacity: 0.5;
		border-radius: 5px;
	}

	.productSwitchTabWrapper {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 20px;

		padding: 5px;
		margin-top: 20px;

		.tab {
			flex-basis: 50%;
			text-align: center;
			cursor: pointer;
			font-size: 18px;

			&.active {
				font-weight: 700;
			}
		}
	}

	.slider {
		min-height: 5px;
		background-color: #ad1fea;
		display: block;
		border-radius: 5px;
		width: 50%;
		transition: left 0.1s ease-in;
		position: absolute;
		bottom: 0;
		left: 50%;

		&.myProductView {
			left: 0;
		}
	}
}

.noproductsScreen {
	text-align: center;
	color: #3a4374;
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	align-items: center;
}

.noproductsScreen span:nth-of-type(1) {
	font-size: 14px;
	margin-top: 20px;
	font-weight: bold;
}

.noproductsScreen span:nth-of-type(2) {
	font-size: 18px;
	text-align: center;
	margin-top: 5px;
}

//  Tablet screen styles

@media screen and (max-width: $tabletScreenWidth) {
}

// Mobile screen styles

@media screen and (max-width: $mobileScreenWidth) {
	@include drawerStylesForMobile;
}
