@import './variables';
.mainLayout {
	height: 100vh;
	width: max(700px, 940px);
	// border: 5px solid red;
	margin: auto;
	padding: 10px;
	display: flex;
	gap: 20px;
	flex-direction: row;
	overflow: auto;
	.drawer {
		display: none;
	}
	.category {
		background-color: #f2f4ff;
		color: #4661e6;
		border-radius: 6px;
		padding: 5px 10px;
		font-weight: 500;
		font-size: 13px;
		cursor: pointer;

		&.active {
			background-color: #4661e6;
			color: white;
		}
	}
}
.sideLayout {
	display: flex;
	flex-direction: column;
	gap: 30px;
	// border: 2px solid black;
	flex-basis: 20%;
	position: sticky;
	top: 65px;
	align-self: start;

	.box {
		width: 263px;
		border: none;
		display: flex;
		flex-direction: column;
		padding: 25px;
		transition: none;
		&:nth-of-type(1) {
			height: 200px;

			background-image: radial-gradient(
				ellipse at right top,
				rgba(232, 77, 112, 1) 0%,
				rgba(163, 55, 246, 1) 60%,
				rgba(40, 167, 237, 1) 100%
			);
			color: #fff;

			.avatarWithHamburgerMenu {
				display: none;
			}

			.boardTitle {
				margin-top: auto;
				p {
					opacity: 0.75;
				}
			}
		}

		&:nth-of-type(2) {
			overflow: hidden;
			word-break: break-all;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 10px;
		}
	}
}

.contentLayout {
	flex-basis: 80%;
	margin-top: 60px;
	// border: 2px solid blueviolet;
}

//  Tablet screen styles

@media screen and (max-width: $tabletScreenWidth) {
	.mainLayout {
		display: flex;
		flex-direction: column;
		padding: 20px;
		width: auto;
	}
	.sideLayout {
		display: flex;
		flex-direction: row;
		position: static;
		.box {
			flex-basis: 50%;
			&:nth-of-type(2) {
				width: 100%;
				.category {
					height: max-content;
					font-size: 15px;
				}
			}
		}
	}
	.contentLayout {
		margin-top: 0;
		width: auto;
	}
}

// Mobile screen styles

@media screen and (max-width: $mobileScreenWidth) {
	.mainLayout {
		width: auto;
		padding: 0;

		.drawer {
			display: block;

			.drawerCategoryItems {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				gap: 14px;
				margin-top: 20px;
				.category {
					font-size: 16px;
				}
			}
		}

		.sideLayout {
			width: 100%;

			position: relative;
			top: 0;
			flex-basis: unset;
			.box {
				&:nth-of-type(1) {
					position: fixed;
					top: 0;
					width: 100%;
					height: 100px;
					border-radius: 0;
					flex-direction: row-reverse;
					justify-content: space-between;
					z-index: 4;

					* {
						margin: 0;
					}
					.hiddenUser {
						display: none;
					}
					.avatarWithHamburgerMenu {
						display: flex;
						align-items: center;
						gap: 10px;
						svg {
							cursor: pointer;
							font-size: 35px;
							transition: 0.2s;
						}
					}
				}
				&:nth-of-type(2) {
					display: none;
				}
			}
		}

		.contentLayout {
			margin: 0;
			margin-top: 80px;
			// padding: 10px;
		}
	}
}
