.mainLayout {
	height: 100vh;
	width: max(700px, 940px);
	border: 5px solid red;
	margin: auto;
	display: flex;
	gap: 20px;
	flex-direction: row;
}
.sideLayout {
	display: flex;
	flex-direction: column;
	gap: 30px;
	border: 2px solid black;
	flex-basis: 20%;

	.box {
		width: 275px;
		box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
		border: none;
		display: flex;
		flex-direction: column;
		padding: 25px;

		&:nth-of-type(1) {
			height: 200px;

			background-image: radial-gradient(
				ellipse at right top,
				rgba(232, 77, 112, 1) 0%,
				rgba(163, 55, 246, 1) 60%,
				rgba(40, 167, 237, 1) 100%
			);
			color: #fff;

			
			.boardTitle {
				margin-top: auto;
				p {
					opacity: 0.75;
				}
			}
		}

		&:nth-of-type(2) {
			overflow: hidden;
			// word-break: break-all;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 10px;

			.category {
				background-color: #f2f4ff;
				color: #4661e6;
				border-radius: 6px;
				padding: 5px 10px;
				font-weight: 500;
				font-size: 13px;

				&.active {
					background-color: #4661e6;
					color: white;
				}
			}
		}
	}
}

.contentLayout {
	flex-basis: 80%;
	border: 2px solid blueviolet;
}
