@import './variables.scss';


@mixin btnStyles {
	background-color: #ad1fea;
	padding: 10px;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	outline: none;
	transition: background-color 0.2s ease-in-out;
	width: 100%;
	// flex-basis: 30%;
	font-family: var(--globalFont);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 0
}

.navbarHome {
	border-radius: 10px;
	color: white;
	background-color: #373f68;
	width: 100%;
	font-weight: 600;



	.listItems {
		list-style-type: none;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 20px;
		gap: 40px;
		font-size: 16px;
		align-items: center;

		li {
			display: flex;
		}

		.sortBy {
			font-weight: 300;
		}

		.dropDownMenu {
			margin-left: 4px;

			.menu {
				margin-top: 20px;
				color: #373f68;
				font-weight: 500;
			}

			.dropDownButton {
				display: flex;
				gap: 5px;
				align-items: center;
				cursor: pointer;
				color: white;

				svg {
					margin-top: 4px;
				}
			}
		}

		a {
			all: unset;
			flex-basis: 30%;

			.addProjectButton {
				@include btnStyles;
			}
		}
	}
}


.roadmapNavbar {

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 29px;
	height: 97px;

	.leftSide {
		flex: 1;

		ul {
			list-style: none;

		}
	}

	.backButtonWrapper {
		display: flex;
		align-items: center;
		margin-left: -10px;

		.backButton {
			text-align: left;
			width: 100%;
			padding: 0;
			color: #fff;
			background-color: inherit;
			padding: 10px 0px;
			border: none;
			border-radius: 10px;
			cursor: pointer;
			font-size: 15px;
			font-weight: 600;
			outline: none;
			transition: background-color 0.2s ease-in-out;
			width: 30%;
			font-family: var(--globalFont);
		}

		.backIcon {
			font-size: min(25px, 6vmin);
			color: #fff;
		}
	}

	a {
		justify-self: end;
		all: unset;

		.addFeedback {
			@include btnStyles;
			font-size: 15px;
			max-width: 200px;
		}
	}
}




@media screen and (max-width: $mobileScreenWidth) {
	.navbarHome {
		font-size: 13px;
		border-radius: 0;
		position: sticky;
		top: 100px;
		z-index: 3;

		.listItems {
			padding: 13px;
			font-size: min(3.6vw, 16px);

			li {
				&:nth-of-type(1) {
					display: none;
				}

				flex-basis: 64%;
			}

			a {
				.addProjectButton {
					// font-size: 11px;
					font-size: min(3.6vw, 11px);
					min-width: 110px;
				}
			}
		}
	}

	.roadmapNavbar {

		position: sticky;
		top:0;

		padding: 12px;


		.leftSide {
			flex: 1;

			ul {
				list-style: none;

			}
		}

		.backButtonWrapper {

			.backButton {


				font-size: 11px;

			}

			.backIcon {
				font-size: min(18px, 6vmin);
				color: #fff;
			}
		}

		a {
			justify-self: end;
			all: unset;

			.addFeedback {
				@include btnStyles;
				font-size: 12px;
				max-width: 200px;
			}
		}
	}
}