@import './variables.scss';

.pageWrapper {
	height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: column;
	padding-block: 70px;
	align-items: center;

	.innerContainer {
		width: min(90vw, 790px);

		.boardsContainer {
			display: flex;
			margin-block: 20px;
			margin-inline: 3px;
			gap: 20px;
			transition: all 0.2s ease-in;

			.boards {
				display: flex;
				flex-direction: column;
				gap: 30px;
				min-width: 31.3%;
				max-width: max-content;
				min-height: 100vh;

				.boardName {
					list-style: none;
					position: sticky;
					top: 97px;

					background-color: #f7f8fd;

					.boardName {
						font-weight: 600;
						font-size: 15px;
						color: #373f68;
					}

					.boardDesc {
						font-weight: 400;
						font-size: 13px;
						color: rgb(100, 113, 150);
					}
				}

				.boardItems {
					display: flex;
					flex-direction: column;
					gap: 20px;
					min-height: 500px;
				}
			}
		}

		.roadmapMobileScreen {
			display: none;
		}
	}
}

@media screen and (max-width: $tabletScreenWidth) {
	.pageWrapper {
		.innerContainer {
			width: min(94vw, 850px);
		}
	}
}

@media screen and (max-width: $mobileScreenWidth) {
	.pageWrapper {
		padding: 0;
		align-items: normal;

		.innerContainer {
			width: 100%;

			.boardsContainer {
				display: none;
			}
		}
	}
}

//Mobile Screen Roadmap
@media screen and (max-width: $mobileScreenWidth) {
	.pageWrapper {
		.innerContainer {
			.roadmapMobileScreen {
				display: block;

				.statusTabSwitch {
					position: sticky;
					top: 97px;
					z-index: 3;
					background-color: #f7f8fd;

					hr {
						margin-top: 7px;
						border: none;
						border-top: 5px solid #d1d3e1;
						opacity: 0.3;
						border-radius: 5px;
					}

					.statusTabSwitchWrapper {
						width: 100%;
						display: flex;
						align-items: center;
						padding: 15px 0;

						.tab {
							width: 33%;
							text-align: center;
							cursor: pointer;
							font-size: 15px;
							font-weight: 600;
							color: #373f68;

							&.active {
								font-weight: 800;
							}
						}
					}

					.slider {
						min-height: 5px;
						background-color: #ad1fea;
						display: block;
						border-radius: 5px;
						width: 33%;
						transition: left 0.1s ease-in;
						position: absolute;
						bottom: 0;
						z-index: 1;

						&.plannedTab {
							left: 0;
						}

						&.in-progressTab {
							left: 33%;
						}

						&.liveTab {
							right: 0;
						}
					}
				}

				.boardsMobileScreen {
					.boardItems {
						display: grid;
						gap: 20px;
						margin-top: 20px;
						min-height: 500px;
					}

					padding: 25px;

					.boardName {
						font-weight: 600;
						font-size: 18px;
						color: #373f68;
					}

					.boardDesc {
						font-weight: 400;
						font-size: 13px;
						color: rgb(100, 113, 150);
					}
				}
			}
		}
	}
}
