$tabletScreenWidth: 1024px;
$mobileScreenWidth: 768px;

@mixin categoryStyles {
  margin-top: 15px;
  background-color: #f2f4ff;
  color: #4661e6;
  border-radius: 6px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 13px;
  display: inline-block;
}

@mixin drawerStyles {
  .drawer {
    display: none;
  }
}

@mixin drawerStylesForMobile {
  .drawer {
    display: block;

    color: #3a4374;

    .drawerCategoryItems {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 14px;
      margin-top: 20px;

      .category {
        font-size: 16px;
      }
    }

    .roadMapCard {
      margin-top: 20px;
      display: flex;
    }
  }
}

@mixin btnStyles {
  background-color: #ad1fea;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
  // flex-basis: 30%;
  font-family: var(--globalFont);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0
}